// SECTION :: START

section#facelift.facelift

  .facelift__container.facelift__container-1

    .facelift__bg
      img(src="img/img-facelift-1.jpg" srcset='img/img-facelift-1@2x.jpg 2x' alt="")

    .c-grid
      .facelift__wrapper.facelift__wrapper-1
        div

          h2.facelift__title.c-title WHY FACELIFT?
          p.facelift__desc.c-desc As people age, gravity and decreased collagen production cause facial tissues to sag. Droopiness in the face not only results in an aged appearance, it can also cause you to look sad or upset. The most prominent change is the appearance of the jowls, the soft tissue prominence lateral to the chin.
          p.facelift__desc.c-desc At our NYC practice, facelift surgery is an extremely popular procedure. The surgery can reverse the effects of gravity by lifting the tissues of the lower face. With various approaches and techniques, a facelift can also improve the soft tissue contour in the midface and cheek areas. Combining facelift and forehead lifts can effectively rejuvenate the entire face.

  .facelift__container.facelift__container-2
    .c-grid
      .facelift__wrapper.facelift__wrapper-2

        h3.facelift__title.c-title.c-title--center MINI FACELIFT VS. FACELIFT
        p.facelift__desc.facelift__desc-2.c-desc Dr. Lao is skilled in performing both facelifts and mini facelifts. The best type of facelift for you will depend on your treatment goals.

        .facelift__box-wrapper
          div
            .facelift__box
              p.facelift__box-title.c-title.c-title--medium.c-title--gold MINI FACELIFT
              pfacelift__box-desc.c-desc.c-desc--white If your facial concerns are subtler and are concentrated in the lower face and neck, a mini facelift may be the optimal procedure for you. It is a less-invasive treatment than a full facelift. Because of this, patients have a shorter recovery while still achieving a more youthful facial profile and improved neck and jawline contours. It can also be performed using local anesthesia with sedation instead of general anesthesia.
          div
            .facelift__box
              p.facelift__box-title.c-title.c-title--medium.c-title--gold FACELIFT
              pfacelift__box-desc.c-desc.c-desc--white For patients who have considerable sagging in the mid-face and also want to address signs of aging in the lower face and neck, a facelift is likely the best option. A facelift can:
              ul.facelift__box-list
                li
                  p.c-desc.c-desc--white Restore lifted cheeks
                li
                  p.c-desc.c-desc--white Improve the appearance of the nasolabial folds
                li
                  p.c-desc.c-desc--white Eliminate loose neck skin
                li
                  p.c-desc.c-desc--white Contour the jawline

// SECTION :: END
