// SECTION :: START

section#patient-resources.patient-resources
  .c-grid
    .patient-resources__wrapper.patient-resources__wrapper-1

      h2.patient-resources__title.c-title.c-title--center(data-aos="fade-up") PATIENT RESOURCES
      p.patient-resources__desc.patient-resources__desc-1.c-desc(data-aos="fade-up") We’re here to help, with a number of patient resources designed to make your experience as comfortable as possible. Read through the materials below, and don’t hesitate to reach out and set up your consultation to learn more about what we can do for you.

      .patient-resources__content-wrapper(data-aos="fade-up")
        div
          .patient-resources__content
            p NEW USER FORM
            .c-btn__wrapper
              a.c-btn.c-btn--white(href="#")
                span DOWNLOAD FORM
        div
          .patient-resources__content
            p COVID-19 FORM
            .c-btn__wrapper
              a.c-btn.c-btn--white(href="#")
                span DOWNLOAD FORM

    .patient-resources__wrapper.patient-resources__wrapper-2

      h2.patient-resources__title.c-title.c-title--medium.c-title--center(data-aos="fade-up") FINANCING
      p.patient-resources__desc.patient-resources__desc-2.c-desc(data-aos="fade-up") Dr. William Lao, provides beautiful, natural results that meet your individual needs. Our team’s primary mission is to deliver the finest and most comprehensive surgical and nonsurgical services available today. For your convenience, Dr. Lao offers financing options which can be seen below.

      .patient-resources__block(data-aos="fade-up")
        img(src="img/carecredit-logo.svg" alt="")
        p.c-desc CareCredit is a company that provides patients with credit for their elective procedures, offering short-term, 0% interest payment plans and low-interest, extended payment plans. CareCredit has no up-front costs, no fees and no pre-payment penalties.
        .c-btn__wrapper.c-btn__wrapper--center
          a.c-btn.c-btn--white(href="#")
            span APPLY HERE

    .patient-resources__wrapper.patient-resources__wrapper-3

      h2.patient-resources__title.c-title.c-title--medium.c-title--center(data-aos="fade-up") Leave us a review!
      p.patient-resources__desc.patient-resources__desc-3.c-desc(data-aos="fade-up") We hope you’ve had an outstanding journey of transformation with us. Now, we would appreciate your feedback. Please click on your preferred review site below to share your.

      .patient-resources__box-wrapper
        div(data-aos="fade-up")
          a.patient-resources__box(href="#")
            i.icon-font.icon-facebook
            p Facebook
        div(data-aos="fade-up")
          a.patient-resources__box(href="#")
            i.icon-font.icon-google
            p Google
        div(data-aos="fade-up")
          a.patient-resources__box(href="#")
            i.icon-font.icon-is
            p REALSELF
        div(data-aos="fade-up")
          a.patient-resources__box(href="#")
            i.icon-font.icon-follow-1
            p yelp

// SECTION :: END
