// SECTION :: START

section#achievement.achievement
  .c-grid
    .achievement__wrapper
      .achievement__wrapper-left

        nav.achievement__nav
          a(href="#" data-aos="fade-up" data-id='1' class='is-active')!= "HONORS & AWARDS <sup>13</sup>"
          a(href="#" data-aos="fade-up" data-id='2' class='')!= "TEXTBOOK CHAPTERS <sup>4</sup>"
          a(href="#" data-aos="fade-up" data-id='3' class='')!= "SCIENTIFIC PUBLICATIONS <sup>14</sup>"
          a(href="#" data-aos="fade-up" data-id='4' class='')!= "PRESENTATIONS <sup>15</sup>"

      .achievement__wrapper-right

        .achievement__block-wrapper(data-aos="fade-up")
          div
            .achievement__block.is-active(data-block-id='1')
              ul
                li Member of American Society of Aesthetic Plastic Surgery (ASAPS)
                li Member of American Society of Plastic Surgeons (ASPS)
                li Member of International Society of Aesthetic Plastic Surgery (ISAPS)
                li Faculty and Live Surgery Demonstrator for 6th Chang Gung Aesthetic Forum 2016
                li Founding Member of Asian Society for Breast Plastic Reconstructive Surgery
                li Best Research Award 2013, Medical College of Wisconsin
                li 2011 Research Scholarship from Overseas Compatriot Affairs Commissions Taiwan
                li Member of Tau Beta Pi Engineering Honor Society
                li Member of the Golden Key International Honour Society
                li Member of the Alpha Eta Mu Beta Biomedical Engineering Honor Society
                li Member of the National Society of Collegiate Scholars
                li Canadian Governor General Award
                li Canadian Provincial Scholarship
          div
            .achievement__block(data-block-id='2')
              ul
                li Member of American Society of Aesthetic Plastic Surgery (ASAPS)
                li Member of American Society of Plastic Surgeons (ASPS)
                li Member of International Society of Aesthetic Plastic Surgery (ISAPS)
                li Faculty and Live Surgery Demonstrator for 6th Chang Gung Aesthetic Forum 2016
          div
            .achievement__block(data-block-id='3')
              ul
                li Member of American Society of Aesthetic Plastic Surgery (ASAPS)
                li Member of American Society of Plastic Surgeons (ASPS)
                li Member of International Society of Aesthetic Plastic Surgery (ISAPS)
                li Faculty and Live Surgery Demonstrator for 6th Chang Gung Aesthetic Forum 2016
                li Founding Member of Asian Society for Breast Plastic Reconstructive Surgery
                li Best Research Award 2013, Medical College of Wisconsin
                li 2011 Research Scholarship from Overseas Compatriot Affairs Commissions Taiwan
                li Member of Tau Beta Pi Engineering Honor Society
                li Member of the Golden Key International Honour Society
                li Member of the Alpha Eta Mu Beta Biomedical Engineering Honor Society
                li Member of the National Society of Collegiate Scholars
                li Canadian Governor General Award
                li Canadian Provincial Scholarship
                li Member of American Society of Aesthetic Plastic Surgery (ASAPS)
          div
            .achievement__block(data-block-id='4')
              ul
                li Member of American Society of Aesthetic Plastic Surgery (ASAPS)
                li Member of American Society of Plastic Surgeons (ASPS)
                li Member of International Society of Aesthetic Plastic Surgery (ISAPS)
                li Faculty and Live Surgery Demonstrator for 6th Chang Gung Aesthetic Forum 2016
                li Founding Member of Asian Society for Breast Plastic Reconstructive Surgery
                li Best Research Award 2013, Medical College of Wisconsin
                li 2011 Research Scholarship from Overseas Compatriot Affairs Commissions Taiwan
                li Member of Tau Beta Pi Engineering Honor Society
                li Member of the Golden Key International Honour Society
                li Member of the Alpha Eta Mu Beta Biomedical Engineering Honor Society
                li Member of the National Society of Collegiate Scholars
                li Canadian Governor General Award
                li Canadian Provincial Scholarship
                li Member of American Society of Aesthetic Plastic Surgery (ASAPS)
                li Member of American Society of Plastic Surgeons (ASPS)


// SECTION :: END
