// SECTION :: START

section#doctors.doctors

  .doctors__bg(svg-js)
    svg(xmlns='http://www.w3.org/2000/svg' width='1641' height='164.124' viewBox='0 0 1641 164.124')
      path(d='M-723.367-60.211a80.839,80.839,0,0,0,81.335,81.335,81.031,81.031,0,0,0,81.562-81.335A81.415,81.415,0,0,0-642.031-142C-687.343-142-723.367-105.524-723.367-60.211Zm22.656,0c0-32.172,26.508-59.132,58.679-59.132,32.4,0,58.906,26.961,58.906,59.132A58.885,58.885,0,0,1-642.031-1.532,58.837,58.837,0,0,1-700.711-60.211Zm174.376,19.937c0,34.437,25.828,61.4,61.4,61.4,35.8,0,61.851-26.961,61.851-61.4V-135.43a4.456,4.456,0,0,0-4.3-4.3h-15.18a4.3,4.3,0,0,0-4.3,4.3v94.023c0,22.43-14.726,39.875-38.062,39.875-23.109,0-37.609-17.672-37.609-40.328v-93.57a4.3,4.3,0,0,0-4.3-4.3h-15.18a4.456,4.456,0,0,0-4.3,4.3Zm168.939,54.828a4.3,4.3,0,0,0,4.3,4.3h14.726a4.456,4.456,0,0,0,4.3-4.3V-43.219h34.211l30.133,60.039a4.171,4.171,0,0,0,3.625,2.039h17.672c3.852,0,5.437-3.625,3.852-6.57l-31.039-57.547c19.711-7.93,33.531-25.148,33.531-45.992,0-26.961-22.2-48.484-49.39-48.484H-353.09a4.3,4.3,0,0,0-4.3,4.3ZM-333.606-62.7v-55.054h40.328c14.727,0,27.64,12.234,27.64,26.961,0,15.633-12.914,28.094-27.64,28.094Zm184.27,77.257a4.26,4.26,0,0,0,4.078,4.3h52.109A79.625,79.625,0,0,0-13.626-60.665c0-43.5-35.8-79.07-79.523-79.07h-52.109a4.26,4.26,0,0,0-4.078,4.3Zm23.109-17.219V-118.211h29.906c33.3,0,57.547,24.242,57.547,57.547,0,33.531-24.242,58-57.547,58ZM11.22-60.211A80.839,80.839,0,0,0,92.555,21.124a81.031,81.031,0,0,0,81.562-81.335A81.415,81.415,0,0,0,92.555-142C47.243-142,11.22-105.524,11.22-60.211Zm22.656,0c0-32.172,26.508-59.132,58.679-59.132,32.4,0,58.906,26.961,58.906,59.132A58.885,58.885,0,0,1,92.555-1.532,58.837,58.837,0,0,1,33.876-60.211Zm164.861,0c0,45.312,36.476,81.335,81.789,81.335,20.164,0,39.648-7.023,55.054-21.976,1.586-1.586,2.039-4.531.227-6.117l-10.422-10.2c-1.359-1.133-3.4-1.359-5.437.227-10.875,8.383-22.43,14.953-38.969,14.953-32.4,0-57.093-26.961-57.093-58.679s24.469-58.906,56.867-58.906c14.047,0,28.547,5.891,39.2,15.18,2.039,2.039,4.078,2.039,5.664,0l9.969-10.2a4.211,4.211,0,0,0-.227-6.344C319.947-134.3,303.408-142,280.526-142A81.608,81.608,0,0,0,198.737-60.211ZM393.5,14.554a4.456,4.456,0,0,0,4.3,4.3h14.953a4.456,4.456,0,0,0,4.3-4.3V-118.438H454a4.3,4.3,0,0,0,4.3-4.3V-135.43a4.3,4.3,0,0,0-4.3-4.3H356.575a4.3,4.3,0,0,0-4.3,4.3v12.687a4.3,4.3,0,0,0,4.3,4.3H393.5Zm79.221-74.765A80.839,80.839,0,0,0,554.06,21.124a81.031,81.031,0,0,0,81.562-81.335A81.415,81.415,0,0,0,554.06-142C508.748-142,472.725-105.524,472.725-60.211Zm22.656,0c0-32.172,26.508-59.132,58.679-59.132,32.4,0,58.906,26.961,58.906,59.132A58.885,58.885,0,0,1,554.06-1.532,58.837,58.837,0,0,1,495.381-60.211ZM671.8,14.554a4.3,4.3,0,0,0,4.3,4.3h14.726a4.456,4.456,0,0,0,4.3-4.3V-43.219h34.211l30.133,60.039a4.171,4.171,0,0,0,3.625,2.039h17.672c3.852,0,5.438-3.625,3.852-6.57L753.585-45.258c19.711-7.93,33.531-25.148,33.531-45.992,0-26.961-22.2-48.484-49.39-48.484H676.1a4.3,4.3,0,0,0-4.3,4.3ZM695.586-62.7v-55.054h40.328c14.727,0,27.641,12.234,27.641,26.961,0,15.633-12.914,28.094-27.641,28.094ZM817.4,3.226c3.625,3.4,21.07,17.9,48.711,17.9,29.453,0,50.523-19.258,50.523-42.82,0-27.64-22.43-40.1-48.711-50.75-18.8-7.7-28.773-15.633-28.773-28.547,0-8.383,6.57-20.391,25.6-20.391,13.141,0,29,10.422,30.586,11.328,3.172,2.039,6.117.68,7.93-2.266,1.812-2.719,3.851-5.891,5.664-8.609a5.384,5.384,0,0,0-1.359-7.7C905.306-130.219,888.314-142,865.658-142c-36.023,0-49.617,24.242-49.617,41.914,0,26.281,18.125,38.289,41.234,48.031,22.43,9.289,34.211,17.9,34.211,31.492,0,11.555-9.969,21.07-25.6,21.07-17.445,0-34.89-14.5-36.25-15.633-2.492-2.039-5.664-1.133-7.7,1.812s-3.852,6.344-5.891,9.289C813.775-.173,815.361,1.413,817.4,3.226Z' transform='translate(723.867 142.5)' fill='none' stroke='#caaa51' stroke-width='1')

  .doctors__container.doctors__container-1

    .c-grid

      h2.doctors__title.c-title.c-title--center(data-aos="fade-up") TRUST. PASSION. EXPERTISE.

  .doctors__container.doctors__container-2

    img(src="img/img-doctors-1.jpg" alt="" data-aos="fade-up")

    .c-grid

      .doctors__wrapper.doctors__wrapper-1
        div(data-aos="fade-up")

          p.doctors__label.c-label(data-aos="fade-up") Double-Board-Certified Facial Plastic Surgeon
          h3.doctors__subtitle.c-title.c-title--gold(data-aos="fade-up") William Lao, MD
          p.doctors__desc.c-desc(data-aos="fade-up")!= "Double-board-certified plastic surgeon Dr. William Lao has a comprehensive understanding of the aesthetic ideals of both East and West and over a decade of extensive education and training in the field of plastic surgery. Dr. Lao combines advanced surgical techniques and concepts from both worlds and customizes procedures to provide the best results possible. <br>As a leader in the New York City plastic surgery industry, Dr. William Lao has received Top Doc Awards by one of the most highly regarded aesthetic publications—NewBeauty. Dr. Lao is a rhinoplasty expert, having worked with patients of all ages and ethnicities."

          .doctors__btn.c-btn__wrapper(data-aos="fade-up")
            a.c-btn.c-btn--white(href="#")
              span MEET DR. LAO

            img(src="img/img-landing-doctor.png" srcset="img/img-landing-doctor@2x.png 2x" alt="" data-aos="fade-up")

// SECTION :: END
