// SECTION :: START

section#state.state

  .state__bg
    img(src="img/img-landing-state.jpg" srcset="img/img-landing-state@2x.jpg 2x" alt="" data-aos="fade-up")

  .state__text(svg-js)
    svg(xmlns='http://www.w3.org/2000/svg' width='949.733' height='145' viewBox='0 0 949.733 145')
      path(d='M-469.967-3.8a3.934,3.934,0,0,0,3.8,3.8h12.6a3.8,3.8,0,0,0,3.8-3.8v-97.4h.2L-362.767,2h5.2a3.76,3.76,0,0,0,3.8-3.6V-136.2a3.934,3.934,0,0,0-3.8-3.8h-12.8a3.8,3.8,0,0,0-3.8,3.8v94.6h-.2l-86.8-100.4h-5a3.76,3.76,0,0,0-3.8,3.6Zm148.133-66A71.362,71.362,0,0,0-250.033,2a71.531,71.531,0,0,0,72-71.8,71.871,71.871,0,0,0-72-72.2A71.7,71.7,0,0,0-321.833-69.8Zm20,0c0-28.4,23.4-52.2,51.8-52.2,28.6,0,52,23.8,52,52.2a51.982,51.982,0,0,1-52,51.8A51.939,51.939,0,0,1-301.833-69.8Zm147.933,56c3.2,3,18.6,15.8,43,15.8,26,0,44.6-17,44.6-37.8,0-24.4-19.8-35.4-43-44.8-16.6-6.8-25.4-13.8-25.4-25.2,0-7.4,5.8-18,22.6-18,11.6,0,25.6,9.2,27,10,2.8,1.8,5.4.6,7-2,1.6-2.4,3.4-5.2,5-7.6a4.752,4.752,0,0,0-1.2-6.8c-2-1.4-17-11.8-37-11.8-31.8,0-43.8,21.4-43.8,37,0,23.2,16,33.8,36.4,42.4,19.8,8.2,30.2,15.8,30.2,27.8,0,10.2-8.8,18.6-22.6,18.6-15.4,0-30.8-12.8-32-13.8-2.2-1.8-5-1-6.8,1.6s-3.4,5.6-5.2,8.2C-157.1-16.8-155.7-15.4-153.9-13.8Zm118.533,10a3.8,3.8,0,0,0,3.8,3.8h80a3.8,3.8,0,0,0,3.8-3.8v-11a3.8,3.8,0,0,0-3.8-3.8h-63.2v-43h53.4a3.8,3.8,0,0,0,3.8-3.8V-76.6a3.934,3.934,0,0,0-3.8-3.8h-53.4v-40.8h63.2a3.8,3.8,0,0,0,3.8-3.8v-11.2a3.8,3.8,0,0,0-3.8-3.8h-80a3.8,3.8,0,0,0-3.8,3.8ZM110.3-12.6A38.339,38.339,0,0,0,140.7,2c23.4,0,41-16,41-43.8v-94.4a3.8,3.8,0,0,0-3.8-3.8H164.7a3.8,3.8,0,0,0-3.8,3.8v94.6c0,17.6-10.4,25.2-20.2,25.2-7.8,0-13.4-5.2-16.4-8.6-1.8-2-3.6-2.8-6.4-.4l-7.2,7.8A4.211,4.211,0,0,0,110.3-12.6Zm98.333-57.2A71.362,71.362,0,0,0,280.433,2a71.531,71.531,0,0,0,72-71.8,71.871,71.871,0,0,0-72-72.2A71.7,71.7,0,0,0,208.633-69.8Zm20,0c0-28.4,23.4-52.2,51.8-52.2,28.6,0,52,23.8,52,52.2a51.982,51.982,0,0,1-52,51.8A51.939,51.939,0,0,1,228.633-69.8Zm155.733,66a3.8,3.8,0,0,0,3.8,3.8h47c25.2,0,43.6-16.2,43.6-38.6,0-18.4-14.4-28.2-25-32.6,9.4-5.4,20.8-16.4,20.8-31.8,0-21-17.4-37-41.6-37h-44.8a3.8,3.8,0,0,0-3.8,3.8Zm20.4-75.4v-42h27c12.8,0,20.6,8.4,20.6,20.6,0,12-7.8,21.4-20.6,21.4Zm-.2,60.8V-61.2h27.4c13,0,24.6,8.8,24.6,21,0,12.4-9.4,21.8-21.6,21.8Z' transform='translate(470.467 142.5)' fill='none' stroke='#caaa51' stroke-width='1')

  .c-grid
    .state__wrapper
      div
        p.state__label.c-label(data-aos="fade-up") PLASTIC SURGERY IN NYC
        h2.state__title.c-title(data-aos="fade-up") SPECIALIST
        p.state__desc.state__desc.c-desc(data-aos="fade-up")!= "The nose is the central feature of our face, not only in terms of its anatomical location but also its aesthetic influence on the entire face. The outlook and shape of a nose can change the entire look of an individual. It can highlight certain features while drawing attention away from others. The surgery has cosmetic and functional benefits, as it can help a patient breathe better and/or improve facial symmetry. <br><br>Dr. Lao tailors every case for each individual patient’s distinct needs. With his distinct knowledge of the surgery, Dr. Lao will use his expertise to create a surgery plan that will meet your aesthetic goals and provide you with the nose you’ve always dreamed of!"

        .state__btn-wrapper
          .state__btn.c-btn__wrapper(data-aos="fade-up")
            a.c-btn(href="#")
              span RHINOPLASTY
          .state__btn.c-btn__wrapper(data-aos="fade-up")
            a.c-btn(href="#")
              span ASIAN RHINOPLASTY

// SECTION :: END
