---
title: William Lao, MD

pageClassName: p-home
---
extends shared/_layout

block content
  main.main(class!= pageClassName)

    include components/common/before-after
    include components/common/out
    include components/common/reviews
    include components/common/schedule
    include components/common/patient-resources
    include components/common/latest
