---
title: William Lao, MD

pageClassName: p-home
---
extends shared/_layout

block content
  main(class!= pageClassName)

    +mainSection('home', 'white', 'img-home-bg.jpg', 'OVER 10 YEARS OF EXPERIENCE', 'MD JOHNS HOPKINS UNIVERSITY WITH', '')

    include components/common/before-after
    include components/common/out
    include components/common/reviews
    include components/common/schedule
    include components/common/patient-resources
    include components/common/latest
