---
title: William Lao, MD | Liposuction

pageClassName: p-liposuction
---
extends shared/_layout

block header
  include components/common/_header--white

block content
  main(class!= pageClassName)

    +mainSection('liposuction', 'black', 'img-liposuction-bg.jpg', 'Facelift', ['HOME', '|', 'PROCEDURES', '|', 'body', '|', 'liposuction'], 'liposuction')

    include components/liposuction/liposuction

    include components/common/about
    include components/common/procedure-schedule

    include components/liposuction/recovery

    include components/common/faq
    include components/common/description
    include components/common/before-after
    include components/common/out
    include components/common/reviews
    include components/common/schedule
    include components/common/patient-resources
    include components/common/latest
