// FOOTER :: START

footer#footer.footer
  .c-grid

    .footer__wrapper
      .footer__wrapper-left

        .logo.logo--footer(data-aos="fade-up")
          a.logo__btn(href="#")
            img(src="img/logo.svg" alt="")

        ul.footer__info(data-aos="fade-up")
          li
            a(href="tel:929-505-2060") 929-505-2060
          li
            p!= "535 FIFTH AVENUE, 32ND FLOOR, <br>NEW YORK, NY, 10017, USA"

      .footer__wrapper-right

        .footer__follow(data-aos="fade-up")
          p FOLLOW US
          ul
            li
              a(href="#")
                i.icon-font.icon-facebook
            li
              a(href="#")
                i.icon-font.icon-linkedin
            li
              a(href="#")
                i.icon-font.icon-follow-1
            li
              a(href="#")
                i.icon-font.icon-youtube
            li
              a(href="#")
                i.icon-font.icon-instagram
            li
              a(href="#")
                i.icon-font.icon-message
            li
              a(href="#")
                i.icon-font.icon-is
            li
              a(href="#")
                i.icon-font.icon-follow-2
            li
              a(href="#")
                i.icon-font.icon-line
            li
              a(href="#")
                i.icon-font.icon-follow-3
            li
              a(href="#")
                i.icon-font.icon-follow-4

        .copyright(data-aos="fade-up") © Copyright 2022 – ATELIER PLASTIC SURGERY. ALL RIGHTS RESERVED

        .made(data-aos="fade-up")!= "WEBSITE DESIGN & SEO BY <a href='#'>MRKTMADE</a>"

        nav.footer__nav(data-aos="fade-up")
          a(href="#") Privacy Policy
          span |
          a(href="#") TOS
          span |
          a(href="#") Sitemap

// FOOTER :: END
