// HEADER :: START

nav#header.header
  .c-grid
    .header__wrapper
      .header__wrapper-left

        .header__info
          p NEW YORK, NY
          a(href="tel:929-505-2060") 929-505-2060

      .header__wrapper-middle

        .logo.logo--header
          a.logo__btn(href="#")
            img(src="img/logo-black.svg" alt="")

      .header__wrapper-right

        .header__action
          div

            nav.header__lang
              a.is-active(href="#") EN
              span |
              a(href="#") CN
              span |
              a(href="#") JP
          div
            +hamburger

// HEADER :: END
