// SECTION :: START

section#before-after.before-after

  .before-after__bg(svg-js)
    svg(xmlns='http://www.w3.org/2000/svg' width='1708.328' height='289' viewBox='0 0 1708.328 289')
      path#Path_69(data-name='Path 69' d='M18.4-139.6C18.4-59.6,82.8,4,162.4,4c58,0,99.2-26.4,99.2-26.4a9.876,9.876,0,0,0,3.2-6.4c0-32-.4-64.8-.4-96.8a7.52,7.52,0,0,0-7.2-7.6H184.4a7.355,7.355,0,0,0-7.6,7.6v23.2a7.268,7.268,0,0,0,7.6,7.2h39.2v44.8a140.8,140.8,0,0,1-60,13.6c-56.8,0-100.4-48-100.4-103.6,0-56,43.6-104,100.4-104,24.4,0,49.2,10.8,68,27.2,4,3.6,7.2,4,10.4.4,6-6.4,12-12.4,18-18.8,3.2-3.2,2.8-8-.4-11.2C232.4-270,200.8-284,162.4-284A144,144,0,0,0,18.4-139.6ZM303.467,0h25.2a10.054,10.054,0,0,0,9.2-6c8-18.4,16.4-36.4,24.4-54.8h130.8L517.867-6a9.319,9.319,0,0,0,9.2,6h25.2c6,0,9.2-5.2,6.8-10.4l-122-269.2a9.358,9.358,0,0,0-6.8-4.4h-4a9.358,9.358,0,0,0-6.8,4.4L296.667-10.4C294.267-5.2,297.467,0,303.467,0Zm74.4-95.2,48.8-109.6h2l49.2,109.6ZM605.733-7.6a7.6,7.6,0,0,0,7.6,7.6h142.4a7.6,7.6,0,0,0,7.6-7.6v-22a7.6,7.6,0,0,0-7.6-7.6h-108.4V-272.4a7.868,7.868,0,0,0-7.6-7.6h-26.4a7.6,7.6,0,0,0-7.6,7.6ZM812-7.6A7.6,7.6,0,0,0,819.6,0H962a7.6,7.6,0,0,0,7.6-7.6v-22a7.6,7.6,0,0,0-7.6-7.6H853.6V-272.4A7.868,7.868,0,0,0,846-280H819.6a7.6,7.6,0,0,0-7.6,7.6Zm206.267,0a7.6,7.6,0,0,0,7.6,7.6h160a7.6,7.6,0,0,0,7.6-7.6v-22a7.6,7.6,0,0,0-7.6-7.6h-126.4v-86h106.8a7.6,7.6,0,0,0,7.6-7.6v-22.4a7.868,7.868,0,0,0-7.6-7.6h-106.8v-81.6h126.4a7.6,7.6,0,0,0,7.6-7.6v-22.4a7.6,7.6,0,0,0-7.6-7.6h-160a7.6,7.6,0,0,0-7.6,7.6Zm242.267,0a7.6,7.6,0,0,0,7.6,7.6h26a7.868,7.868,0,0,0,7.6-7.6v-102h60.4l53.2,106a7.364,7.364,0,0,0,6.4,3.6h31.2c6.8,0,9.6-6.4,6.8-11.6l-54.8-101.6c34.8-14,59.2-44.4,59.2-81.2,0-47.6-39.2-85.6-87.2-85.6h-108.8a7.6,7.6,0,0,0-7.6,7.6Zm42-136.4v-97.2h71.2c26,0,48.8,21.6,48.8,47.6,0,27.6-22.8,49.6-48.8,49.6ZM1588-7.6a7.6,7.6,0,0,0,7.6,7.6H1622a7.868,7.868,0,0,0,7.6-7.6V-135.2l94.8-133.2c3.2-5.2,0-11.6-6.4-11.6h-30c-2.8,0-5.2,2-6.4,3.6l-72.4,102-72.4-102a7.949,7.949,0,0,0-6.4-3.6h-29.6c-6.4,0-9.6,6.4-6.4,11.6L1588-134.8Z' transform='translate(-17.9 284.5)' fill='none' stroke='#caaa51' stroke-width='1')

    div
      .before-after__preview(data-aos="fade-up")
        div
          img(src="img/img-before-after-1.jpg" srcset="img/img-before-after-1@2x.jpg 2x" alt="")
          p Before
        div
          img(src="img/img-before-after-2.jpg" srcset="img/img-before-after-2@2x.jpg 2x" alt="")
          p After

  .c-grid
    .before-after__wrapper
      div

        h2.before-after__title.c-title(data-aos="fade-up") BEFORE + AFTERS
        p.before-after__desc.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

        .before-after__btn.c-btn__wrapper(data-aos="fade-up")
          a.c-btn(href="#")
            span VIEW GALLERY

// SECTION :: END
