// SECTION :: START

section#description.description
  .c-grid
    .description__wrapper

      if(pageClassName == 'p-facelift')
        h2.description__title.c-title.c-title--center!= "SCHEDULE YOUR <br>CONSULTATION"
        p.description__desc.c-desc If you’re interested in learning more about facelift surgery, contact our office to schedule your consultation today. Dr. William Lao is a double-board-certified plastic surgeon who is dedicated to helping each and every patient look and feel their absolute best. He strives to deliver the best facelift New York City has to offer. He’ll help guide you with care and compassion throughout the entire process and answer any of the questions you have along the way.
      else if(pageClassName == 'p-liposuction')
        h2.description__title.c-title.c-title--center!= "SET UP YOUR<br>CONSULTATION TODAY"
        p.description__desc.c-desc Dr. Lao is known by his patients as the best New York City liposuction surgeon. If liposuction sounds like the perfect procedure for you, contact our office to set up a consultation with Dr. Lao today. Dr. William Lao is a double-board-certified plastic surgeon who will be happy to answer any questions you may have about this procedure.


// SECTION :: END
