// SECTION :: START

section#faq.faq
  .c-grid

    .faq__wrapper

      h2.faq__title.c-title.c-title--gold.c-title--center FAQs

      .faq__collapse-wrapper
        div
          .faq__collapse
            .faq__collapse-head
              span
              p HOW IS IT DONE?
            .faq__collapse-body
              div
                p.c-desc.c-desc--white A facelift is not a cookie-cutter procedure. A good facelift should be tailored for each individual by considering the degree of sagginess, volume distribution, the need for inclusion of a neck lift, and the condition of the skin.
                p.c-desc.c-desc--white Most facelift techniques involve an incision in front of the ear hiding at the skin crease. The scar is quite inconspicuous and typically well-hidden. There are also non-incisional facelift techniques available, such as thread lifting, but patients should understand that these methods provide much shorter-term effects than a traditional facelift. Dr. Lao strives for natural-looking results in his New York City facelift patients while placing patient safety and comfort as top priorities.
        div
          .faq__collapse
            .faq__collapse-head
              span
              p FACELIFT SURGERY?
            .faq__collapse-body
              div
                p.c-desc.c-desc--white A facelift is not a cookie-cutter procedure. A good facelift should be tailored for each individual by considering the degree of sagginess, volume distribution, the need for inclusion of a neck lift, and the condition of the skin.
        div
          .faq__collapse
            .faq__collapse-head
              span
              p HOW MUCH DOES A FACELIFT COST IN NYC?
            .faq__collapse-body
              div
                p.c-desc.c-desc--white Most facelift techniques involve an incision in front of the ear hiding at the skin crease. The scar is quite inconspicuous and typically well-hidden. There are also non-incisional facelift techniques available, such as thread lifting, but patients should understand that these methods provide much shorter-term effects than a traditional facelift. Dr. Lao strives for natural-looking results in his New York City facelift patients while placing patient safety and comfort as top priorities.
        div
          .faq__collapse
            .faq__collapse-head
              span
              p HOW MUCH DOES A FACELIFT COST IN NYC?
            .faq__collapse-body
              div
                p.c-desc.c-desc--white A facelift is not a cookie-cutter procedure. A good facelift should be tailored for each individual by considering the degree of sagginess, volume distribution, the need for inclusion of a neck lift, and the condition of the skin.
                p.c-desc.c-desc--white Most facelift techniques involve an incision in front of the ear hiding at the skin crease. The scar is quite inconspicuous and typically well-hidden. There are also non-incisional facelift techniques available, such as thread lifting, but patients should understand that these methods provide much shorter-term effects than a traditional facelift. Dr. Lao strives for natural-looking results in his New York City facelift patients while placing patient safety and comfort as top priorities.


// SECTION :: END
