// SECTION :: START

section#latest.latest
  .c-grid

    h2.latest__title.c-title(data-aos="fade-up")
      i
      span LATEST PRESS

    .latest__wrapper
      .latest__wrapper-left

        .latest__box(data-aos="fade-up")
          p.latest__box-label.c-label JULY – 2019
          p.latest__box-title Elite Fashion Magazine
          p.latest__box-desc.c-desc Dr. Lao interviewed by Elite Fashion Magazine. Click the cover below to read the full article.

          .latest__box-btn.c-btn__wrapper
            a.c-btn(href="#")
              span READ MORE

      .latest__wrapper-right

        .latest__box(data-aos="fade-up")
          p.latest__box-label.c-label JULY – 2019
          p.latest__box-title NYU Doctor Radio Show
          p.latest__box-desc.c-desc In the New York University (NYU) recording studio. Dr. Lao and Dr. Aston hosting the NYU Doctor Radio Show on: “Cosmetic Surgery for the Summer.”

          .latest__box-btn.c-btn__wrapper
            a.c-btn(href="#")
              span READ MORE

// SECTION :: END
