// SECTION :: START

section#out.out

  .out__bg
    img(src="img/img-out.jpg" srcset="img/img-out@2x.jpg 2x" alt="" data-aos="fade-up")

  .c-grid
    .out__wrapper
      div(data-aos="fade-up")

        h2.out__title.c-title.c-title--gold(data-aos="fade-up") OUT-OF-TOWN PATIENTS
        p.out__desc.c-desc.c-desc--white(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

        .out__btn.c-btn__wrapper(data-aos="fade-up")
          a.c-btn.c-btn--white(href="#")
            span LEARN MORE

// SECTION :: END
