// SECTION :: START

section#patient-resources.patient-resources
  .c-grid

    h2.patient-resources__title.c-title.c-title--text Patient Resources
    p.patient-resources__desc.c-desc We’re here to help, with a number of patient resources designed to make your experience as comfortable as possible. Read through the materials below, and don’t hesitate to reach out and set up your consultation to learn more about what we can do for you.

    .patient-resources__wrapper

      .patient-resources__btn.c-btn__wrapper.c-btn__wrapper--between
        div
          a.c-btn(href="#")
            span PATIENT FORMS
        div
          a.c-btn(href="#")
            span FINANCING
        div
          a.c-btn(href="#")
            span LEAVE A REVIEW

// SECTION :: END
