// SECTION :: START

section#procedure-schedule.procedure-schedule
  .c-grid
    .procedure-schedule__wrapper

      h2.procedure-schedule__title.c-title.c-title--center PROCEDURE SCHEDULE

      .procedure-schedule__block-wrapper
        div
          .procedure-schedule__block
            p.procedure-schedule__block-title Surgery
            p.procedure-schedule__block-desc!= "<strong>Time:</strong> 3-5 hours"
            p.procedure-schedule__block-desc General Anesthesia or Local Anesthesia
        div
          .procedure-schedule__block
            p.procedure-schedule__block-title RECOVERY
            p.procedure-schedule__block-desc Ambulate the night of surgery
            p.procedure-schedule__block-desc Shower 2 days after surgery
            p.procedure-schedule__block-desc 5 to 7 days off work
        div
          .procedure-schedule__block
            p.procedure-schedule__block-title Restriction
            p.procedure-schedule__block-desc 6 weeks from heavy lifting and swimming

// SECTION :: END
