// SECTION :: START

section#recovery.recovery

  .recovery__bg
    svg(xmlns='http://www.w3.org/2000/svg' width='1584.75' height='181' viewBox='0 0 1584.75 181')
      path(d='M-791.875-4.75A4.747,4.747,0,0,0-787.125,0h89a4.747,4.747,0,0,0,4.75-4.75V-18.5a4.747,4.747,0,0,0-4.75-4.75h-67.75v-147a4.917,4.917,0,0,0-4.75-4.75h-16.5a4.747,4.747,0,0,0-4.75,4.75Zm124.75,0A4.917,4.917,0,0,0-662.375,0h16.5a4.917,4.917,0,0,0,4.75-4.75v-165.5a4.917,4.917,0,0,0-4.75-4.75h-16.5a4.917,4.917,0,0,0-4.75,4.75Zm74.5,0A4.747,4.747,0,0,0-587.875,0h16.25a4.917,4.917,0,0,0,4.75-4.75V-63.5h36.25c30.5,0,55.75-25.25,55.75-56.25,0-30.25-25.25-55.25-56-55.25h-57a4.747,4.747,0,0,0-4.75,4.75ZM-566.875-88v-62h34.5c17.25,0,31.75,13,31.75,30a31.849,31.849,0,0,1-31.75,32Zm110,.75A89.2,89.2,0,0,0-367.125,2.5a89.414,89.414,0,0,0,90-89.75,89.838,89.838,0,0,0-90-90.25C-417.125-177.5-456.875-137.25-456.875-87.25Zm25,0c0-35.5,29.25-65.25,64.75-65.25,35.75,0,65,29.75,65,65.25,0,35.75-29.25,64.75-65,64.75A64.924,64.924,0,0,1-431.875-87.25Zm180.75,70c4,3.75,23.25,19.75,53.75,19.75,32.5,0,55.75-21.25,55.75-47.25,0-30.5-24.75-44.25-53.75-56-20.75-8.5-31.75-17.25-31.75-31.5,0-9.25,7.25-22.5,28.25-22.5,14.5,0,32,11.5,33.75,12.5,3.5,2.25,6.75.75,8.75-2.5,2-3,4.25-6.5,6.25-9.5a5.941,5.941,0,0,0-1.5-8.5c-2.5-1.75-21.25-14.75-46.25-14.75-39.75,0-54.75,26.75-54.75,46.25,0,29,20,42.25,45.5,53,24.75,10.25,37.75,19.75,37.75,34.75,0,12.75-11,23.25-28.25,23.25-19.25,0-38.5-16-40-17.25-2.75-2.25-6.25-1.25-8.5,2s-4.25,7-6.5,10.25C-255.125-21-253.375-19.25-251.125-17.25Zm141.75-48c0,38,28.5,67.75,67.75,67.75,39.5,0,68.25-29.75,68.25-67.75v-105a4.917,4.917,0,0,0-4.75-4.75H5.125a4.747,4.747,0,0,0-4.75,4.75V-66.5c0,24.75-16.25,44-42,44-25.5,0-41.5-19.5-41.5-44.5V-170.25a4.747,4.747,0,0,0-4.75-4.75h-16.75a4.917,4.917,0,0,0-4.75,4.75Zm169.5-22c0,50,40.25,89.75,90.25,89.75,22.25,0,43.75-7.75,60.75-24.25,1.75-1.75,2.25-5,.25-6.75l-11.5-11.25c-1.5-1.25-3.75-1.5-6,.25-12,9.25-24.75,16.5-43,16.5-35.75,0-63-29.75-63-64.75s27-65,62.75-65c15.5,0,31.5,6.5,43.25,16.75,2.25,2.25,4.5,2.25,6.25,0l11-11.25a4.646,4.646,0,0,0-.25-7c-17-14.75-35.25-23.25-60.5-23.25A90.051,90.051,0,0,0,60.125-87.25Zm210.75,82.5A4.917,4.917,0,0,0,275.625,0h16.5a4.917,4.917,0,0,0,4.75-4.75V-151.5h40.75a4.747,4.747,0,0,0,4.75-4.75v-14a4.747,4.747,0,0,0-4.75-4.75h-107.5a4.747,4.747,0,0,0-4.75,4.75v14a4.747,4.747,0,0,0,4.75,4.75h40.75Zm98.5,0A4.917,4.917,0,0,0,374.125,0h16.5a4.917,4.917,0,0,0,4.75-4.75v-165.5a4.917,4.917,0,0,0-4.75-4.75h-16.5a4.917,4.917,0,0,0-4.75,4.75Zm61.75-82.5A89.2,89.2,0,0,0,520.875,2.5a89.414,89.414,0,0,0,90-89.75,89.838,89.838,0,0,0-90-90.25C470.875-177.5,431.125-137.25,431.125-87.25Zm25,0c0-35.5,29.25-65.25,64.75-65.25,35.75,0,65,29.75,65,65.25,0,35.75-29.25,64.75-65,64.75A64.924,64.924,0,0,1,456.125-87.25Zm190.5,82.5A4.917,4.917,0,0,0,651.375,0h15.75a4.747,4.747,0,0,0,4.75-4.75V-126.5h.25l108.5,129h6.5a4.7,4.7,0,0,0,4.75-4.5V-170.25a4.917,4.917,0,0,0-4.75-4.75h-16a4.747,4.747,0,0,0-4.75,4.75V-52h-.25l-108.5-125.5h-6.25a4.7,4.7,0,0,0-4.75,4.5Z' transform='translate(792.375 178)' fill='none' stroke='#caaa51' stroke-width='1')

  .c-grid
    .recovery__wrapper.recovery__wrapper-1

      h2.recovery__title.c-title.c-title--center RECOVERY

      .recovery__desc-wrapper
        p.recovery__desc.c-desc Typically, you will be sore for a few days immediately following your procedure. You may be asked to wear compression garments in order to keep the swelling down. You may experience some bruising as well.
        p.recovery__desc.c-desc Generally, swelling will subside in a couple of weeks, although you may not be able to see the full results until a few months after your procedure.
        p.recovery__desc.c-desc It is important to follow all of Dr. Lao’s aftercare instructions to ensure that the recovery process goes as smoothly as possible. If you have any questions about recovering from liposuction, be sure to ask Dr. Lao during your consultation.

    .recovery__wrapper.recovery__wrapper-2
      .recovery__wrapper-left

        p.recovery__subtitle.c-title.c-title--medium WHY CHOOSE DR. LAO?
        p.recovery__desc.c-desc!= "Dr. William Lao is a double board-certified plastic surgeon. He’s proud to have received his medical degree from Johns Hopkins University and is an active member of the <span>American Society of Plastic Surgeons.</span> Dr. Lao has recently been elected as a TopDoc by the aesthetic publication, NewBeauty. As a trusted surgeon, Dr. Lao loans his knowledge and expertise to the magazine and has been featured in several articles. Including his latest article, <span>6 things you should never do after plastic surgery”.</span>"

      .recovery__wrapper-right

        p.recovery__subtitle.c-title.c-title--medium HOW MUCH DOES LIPOSUCTION COST IN NYC?
        p.recovery__desc.c-desc The price of this procedure depends on a few different factors, like the amount of tissue removed during surgery, the length of the procedure, the technique used, and more. If you have any questions about the cost of liposuction in New York City, be sure to ask Dr. Lao or contact our Manhattan office for an estimate.

    .recovery__wrapper.recovery__wrapper-3

      h2.recovery__title.c-title.c-title--center SURGICAL APPROACHES

      .recovery__block-wrapper
        div
          .recovery__block
            img(src="img/img-recovery-block-1.png" srcset="img/img-recovery-block-1@2x.png 2x" alt="")
            p.c-desc Common Areas of Liposuction in the Front
        div
          .recovery__block
            img(src="img/img-recovery-block-2.png" srcset="img/img-recovery-block-2@2x.png 2x" alt="")
            p.c-desc Common Areas of Liposuction in the Back

// SECTION :: END
