// BUTTON :: START

.c-btn {
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 55px;
  padding-left: 25px;
  padding-right: 24px;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #000;
  @include transition(color);
  @include adaptive(767) {
    font-size: 14px;
  }

  &:hover {
    color: #ffffff;
    @include transition(color);

    &:before {
      opacity: 0;
      width: 0;
      margin-right: 0;
      @include transition(opacity, width, margin-right);
    }

    &:after {
      width: 100%;
      background-color: #caaa51;
      @include transition(width, background-color);
    }
  }

  &:before {
    content: '–';
    vertical-align: middle;
    display: inline-block;
    width: 12px;
    margin-right: 7px;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    color: #000;
    @include transition(opacity, width, margin-right);
    @include adaptive(767) {
      font-size: 14px;
    }
  }

  &:after {
    content: '';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    border: 1px solid #caaa51;
    background-color: transparent;
    @include transition(width, background-color);
  }

  &--white {
    color: #ffffff;

    &:before {
      color: #ffffff;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;

    &--center {
      justify-content: center;
    }
    &--between {
      justify-content: space-between;
    }
  }

  span {
    z-index: 2;
    position: relative;
  }
}

// BUTTON :: END
