// LOGOTYPE :: START

.logo {
  display: flex;
  align-items: center;

  &.logo--header {
    @include adaptive(1279) {
      max-width: 135px;
    }
    @include adaptive(767) {
      max-width: 103px;
    }
  }

  &.logo--footer {
    padding-bottom: 50px;
  }

  &__btn {
    display: flex;
    align-items: flex-start;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

// LOGOTYPE :: END
