// TITLE :: START

.c-title {
  font-weight: 500;
  font-size: 90px;
  line-height: 90px;
  text-transform: uppercase;
  color: #000;

  &--center {
    text-align: center;
  }

  &--gold {
    color: #d6ab49;
  }
}

// TITLE :: END
