// DESC :: START

.c-desc {
  font-size: 18px;
  line-height: 38px;
  color: #000;
  @include adaptive(767) {
    font-size: 16px;
    line-height: 30px;
  }

  &--white {
    color: #ffffff;
  }
}

// DESC :: END
