// SECTION :: START

section#dermatology.dermatology

  .dermatology__bg
    img(src="img/img-dermatology-bg.jpg" alt="")

  .c-grid
    .dermatology__wrapper

      div

        p.dermatology__label.c-label DERMATOLOGY
        h2.dermatology__title.c-title.c-title--gold.c-title--medium DR. NAO
        p.dermatology__desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

        .dermatology__btn.c-btn__wrapper
          a.c-btn.c-btn--white(href="#")
            span MEET DR. NAO

// SECTION :: END
