// SECTION :: START

section#medical.medical

  .medical__bg
    .c-grid(svg-js)
      svg(xmlns='http://www.w3.org/2000/svg' width='876.613' height='304.28' viewBox='0 0 876.613 304.28')
        path#Path_68(data-name='Path 68' d='M9.751-4.577C9.353-1.791,10.746,0,13.532,0H26.467a3.873,3.873,0,0,0,3.582-2.786L44.377-91.739h.8L81.192-.2A3.576,3.576,0,0,0,84.575,1.99h3.582A3.383,3.383,0,0,0,91.54-.2l35.82-91.54h.6L142.683-2.786A4.133,4.133,0,0,0,146.464,0H159.4c2.786,0,4.179-1.791,3.582-4.577L138.5-138.3a4.018,4.018,0,0,0-3.582-2.985h-3.184a3.793,3.793,0,0,0-3.383,2.189L86.963-37.412h-.8L44.576-139.1a4.041,4.041,0,0,0-3.383-2.189H38.009a4.018,4.018,0,0,0-3.582,2.985Zm185.8.8A3.778,3.778,0,0,0,199.332,0h79.6a3.778,3.778,0,0,0,3.781-3.781V-14.726a3.778,3.778,0,0,0-3.781-3.781H216.048V-61.292h53.133a3.778,3.778,0,0,0,3.781-3.781V-76.217A3.914,3.914,0,0,0,269.181-80H216.048v-40.6h62.884a3.778,3.778,0,0,0,3.781-3.781v-11.144a3.778,3.778,0,0,0-3.781-3.781h-79.6a3.778,3.778,0,0,0-3.781,3.781Zm120.528,0A3.741,3.741,0,0,0,319.66,0h45.77a69.939,69.939,0,0,0,69.849-69.849c0-38.208-31.442-69.451-69.849-69.451H319.66a3.741,3.741,0,0,0-3.582,3.781Zm20.3-15.124V-120.4h26.268c29.253,0,50.546,21.293,50.546,50.546,0,29.452-21.293,50.944-50.546,50.944ZM467.252-3.781A3.914,3.914,0,0,0,471.033,0h13.134a3.914,3.914,0,0,0,3.781-3.781V-135.519a3.914,3.914,0,0,0-3.781-3.781H471.033a3.914,3.914,0,0,0-3.781,3.781Zm52.47-65.67A71.343,71.343,0,0,0,591.561,1.99a68.3,68.3,0,0,0,48.357-19.3c1.393-1.393,1.791-3.98.2-5.373l-9.154-8.955a3.64,3.64,0,0,0-4.776.2c-9.552,7.363-19.7,13.134-34.228,13.134-28.457,0-50.148-23.681-50.148-51.541s21.492-51.74,49.949-51.74c12.338,0,25.074,5.174,34.427,13.333,1.791,1.791,3.582,1.791,4.975,0l8.756-8.955a3.7,3.7,0,0,0-.2-5.572c-13.532-11.741-28.059-18.507-48.158-18.507A71.68,71.68,0,0,0,519.722-69.451ZM656.368,0h12.537a5,5,0,0,0,4.577-2.985c3.98-9.154,8.159-18.109,12.139-27.263h65.073L763.032-2.985A4.636,4.636,0,0,0,767.609,0h12.537a3.514,3.514,0,0,0,3.383-5.174L722.834-139.1a4.656,4.656,0,0,0-3.383-2.189h-1.99a4.656,4.656,0,0,0-3.383,2.189L652.985-5.174A3.514,3.514,0,0,0,656.368,0Zm37.014-47.362,24.278-54.526h.995l24.477,54.526ZM806.746-3.781A3.778,3.778,0,0,0,810.527,0h70.844a3.778,3.778,0,0,0,3.781-3.781V-14.726a3.778,3.778,0,0,0-3.781-3.781H827.442V-135.519a3.914,3.914,0,0,0-3.781-3.781H810.527a3.778,3.778,0,0,0-3.781,3.781Zm-795.2,150.05c3.184,2.985,18.507,15.721,42.785,15.721,25.87,0,44.377-16.915,44.377-37.611C98.7,100.1,79,89.156,55.919,79.8,39.4,73.037,30.646,66.072,30.646,54.729c0-7.363,5.771-17.91,22.487-17.91,11.542,0,25.472,9.154,26.865,9.95,2.786,1.791,5.373.6,6.965-1.99,1.592-2.388,3.383-5.174,4.975-7.562a4.729,4.729,0,0,0-1.194-6.766C88.754,29.058,73.829,18.71,53.929,18.71,22.288,18.71,10.348,40,10.348,55.525c0,23.084,15.92,33.631,36.218,42.188,19.7,8.159,30.049,15.721,30.049,27.661,0,10.149-8.756,18.507-22.487,18.507-15.323,0-30.646-12.736-31.84-13.731-2.189-1.791-4.975-.995-6.766,1.592s-3.383,5.572-5.174,8.159C8.358,143.284,9.751,144.677,11.542,146.269Zm117.941,9.95A3.778,3.778,0,0,0,133.264,160H146.2a3.914,3.914,0,0,0,3.781-3.781V109.454h28.855c24.278,0,44.377-20.1,44.377-44.775,0-24.079-20.1-43.979-44.576-43.979H133.264a3.778,3.778,0,0,0-3.781,3.781Zm20.5-66.267V40.6h27.462c13.731,0,25.273,10.348,25.273,23.88a25.351,25.351,0,0,1-25.273,25.472ZM228.916,160h12.537a5,5,0,0,0,4.577-2.985c3.98-9.154,8.159-18.109,12.139-27.263h65.073l12.338,27.263A4.636,4.636,0,0,0,340.157,160h12.537a3.514,3.514,0,0,0,3.383-5.174L295.382,20.9A4.656,4.656,0,0,0,292,18.71h-1.99a4.656,4.656,0,0,0-3.383,2.189L225.533,154.826A3.514,3.514,0,0,0,228.916,160Zm37.014-47.362,24.278-54.526h.995l24.477,54.526Z' transform='translate(-9.039 141.79)' fill='none' stroke='#caaa51' stroke-width='1')

  .c-grid
    .medical__wrapper
      div

        h2.medical__title.c-title(data-aos="fade-up") TREATMENTS
        p.medical__desc.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.

  .medical__carousel

    .swiper(data-aos="fade-up")
      .swiper-wrapper
        .swiper-slide
          img(src="img/img-medical-1.jpg" srcset='img/img-medical-1@2x.jpg 2x' alt="")
          .c-btn__wrapper
            a.c-btn.c-btn--white(href="#")
              span BOTOX
        .swiper-slide
          img(src="img/img-medical-2.jpg" srcset='img/img-medical-2@2x.jpg 2x' alt="")
          .c-btn__wrapper
            a.c-btn.c-btn--white(href="#")
              span DERMAL FILLERS
        .swiper-slide
          img(src="img/img-medical-3.jpg" srcset='img/img-medical-3@2x.jpg 2x' alt="")
          .c-btn__wrapper
            a.c-btn.c-btn--white(href="#")
              span INJECTABLES
        .swiper-slide
          img(src="img/img-medical-4.jpg" srcset='img/img-medical-4@2x.jpg 2x' alt="")
          .c-btn__wrapper
            a.c-btn.c-btn--white(href="#")
              span LASER TREATMENTS

    .swiper-pagination(data-aos="fade-up")

    .medical__carousel-btn-wrapper(data-aos="fade-up")
      a.medical__carousel-btn.medical__carousel-btn--prev(href="#")
        i.icon-font.icon-arrow-left
      a.medical__carousel-btn.medical__carousel-btn--next(href="#")
        i.icon-font.icon-arrow-left

// SECTION :: END
