// SECTION :: START

.about {
  padding-bottom: 320px;
  @include adaptive(767) {
    padding-bottom: 50px;
  }

  &__wrapper {
    position: relative;
    display: flex;

    &-left {
      width: 65%;
    }

    &-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 45%;
      padding-top: 230px;
      @include adaptive(767) {
        padding-top: 50px;
      }

      img {
        box-shadow: -15px 15px 25px rgba(0, 0, 0, 0.16);
      }
    }

    img {
      position: relative;
      width: 100%;
      display: block;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
  }
}

// SECTION :: END
