// SECTION :: START

.before-after {
  position: relative;
  padding-top: 60px;
  padding-bottom: 90px;
  @include adaptive(1535) {
    padding-bottom: 70px;
  }
  @include adaptive(1279) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @include adaptive(767) {
    display: flex;
    flex-direction: column-reverse;
  }

  &__bg {
    z-index: 0;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100% - 150px);
    @include adaptive(1279) {
      top: 50px;
      height: calc(100% - 100px);
    }
    @include adaptive(767) {
      position: static;
      height: auto;
      padding-top: 50px;
    }

    > svg {
      z-index: 2;
      position: absolute;
      top: 85px;
      left: 0;
      right: 0;
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      @include adaptive(1535) {
        opacity: 0.45;
      }
    }

    > div {
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: flex-end;
      width: 55%;
      height: 100%;
      padding: 85px;
      background-image: url('../img/img-before-after-pattern@2x.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      @include adaptive(1365) {
        padding: 50px;
      }
      @include adaptive(1279) {
        padding: 20px;
      }
      @include adaptive(767) {
        position: static;
        width: 100%;
        height: auto;
      }
    }
  }

  &__wrapper {
    z-index: 2;
    position: relative;
    padding-top: 314px;
    padding-bottom: 284px;
    @include adaptive(1535) {
      padding-top: 250px;
      padding-bottom: 250px;
    }
    @include adaptive(1365) {
      padding-top: 200px;
      padding-bottom: 200px;
    }
    @include adaptive(1279) {
      padding-top: 150px;
      padding-bottom: 150px;
    }
    @include adaptive(767) {
      padding-top: 0;
      padding-bottom: 0;
    }

    > div {
      width: 100%;
      max-width: 535px;
      @include adaptive(1279) {
        max-width: 40%;
      }
      @include adaptive(767) {
        max-width: 100%;
      }
    }
  }

  &__title {
    padding-bottom: 20px;
  }

  &__desc {
    padding-bottom: 100px;
    @include adaptive(767) {
      padding-bottom: 50px;
    }
  }

  &__preview {
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      position: relative;

      &:nth-of-type(1) {
        margin-right: 10px;
      }
      &:nth-of-type(2) {
        margin-left: 10px;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }

      p {
        z-index: 2;
        position: absolute;
        right: 25px;
        bottom: 25px;
        font-weight: 500;
        font-size: 15px;
        line-height: 1;
        color: #000;
        text-transform: uppercase;
        @include adaptive(1023) {
          right: 10px;
          bottom: 10px;
          font-size: 13px;
        }
      }
    }
  }
}

// SECTION :: END
