// SECTION :: START

.faq {
  position: relative;
  padding-top: 90px;
  padding-bottom: 140px;
  background-image: url('../img/img-pattern-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include adaptive(1279) {
    padding-bottom: 100px;
  }
  @include adaptive(767) {
    padding-top: 100px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000 0%, rgba(29, 31, 34, 0) 100%);
  }

  &__wrapper {
    z-index: 2;
    position: relative;
  }

  &__title {
    padding-bottom: 60px;
    @include adaptive(767) {
      padding-bottom: 50px;
    }
  }

  &__collapse {
    display: flex;
    flex-direction: column;
    background-color: rgba(#000, 0.7);

    &-head {
      cursor: pointer;
      display: flex;
      align-items: center;
      min-height: 125px;
      padding: 20px 50px;
      @include adaptive(1023) {
        min-height: 100px;
      }
      @include adaptive(767) {
        padding: 10px 20px;
      }

      &.is-open {
        span {
          &:after {
            transform: rotate(90deg);
            @include transition(transform);
          }
        }
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background-color: #000000;
        @include adaptive(1439) {
          width: 55px;
          height: 55px;
        }
        @include adaptive(767) {
          width: 40px;
          min-width: 40px;
          height: 40px;
        }

        &:after,
        &:before {
          content: '';
          position: absolute;
          background-color: #d6ab49;
        }

        &:before {
          content: '';
          width: 30px;
          height: 3px;
          @include adaptive(1439) {
            width: 25px;
            height: 2px;
          }
          @include adaptive(767) {
            width: 20px;
          }
        }

        &:after {
          content: '';
          width: 3px;
          height: 30px;
          @include transition(transform);
          @include adaptive(1439) {
            width: 2px;
            height: 25px;
          }
          @include adaptive(767) {
            height: 20px;
          }
        }

        & + p {
          padding-left: 40px;
          @include adaptive(767) {
            padding-left: 20px;
          }
        }
      }

      p {
        font-weight: 500;
        font-size: 30px;
        line-height: 60px;
        color: #d6ab49;
        @include adaptive(1439) {
          font-size: 26px;
        }
        @include adaptive(1023) {
          font-size: 22px;
          line-height: 40px;
        }
        @include adaptive(767) {
          font-size: 18px;
          line-height: normal;
        }
      }
    }

    &-body {
      display: none;

      > div {
        padding: 10px 50px 50px;
        @include adaptive(767) {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 20px;
        }
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;

      > div {
        &:not(:last-of-type) {
          padding-bottom: 20px;
        }
      }
    }
  }
}

// SECTION :: END
