// SECTION :: START

.main {
	position: relative;

	&__bg {
    z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

    &.main__bg--white {
      &:after {
        height: 75%;
        background: linear-gradient(#fff 0%, rgba(255, 255, 255, 0) 100%);
      }
    }
    &.main__bg--black {
      &:after {
        height: 50%;
        background: linear-gradient(rgba(#1d1f22, 0.9) 0%, rgba(29, 31, 34, 0) 100%);
      }
    }

		img {
			@extend %imageResCoverAbs;
		}

		&:after {
			content: '';
      z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		display: flex;
    flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100vh;
		padding-left: 20px;
		padding-right: 20px;
	}

	&__content {
		width: 100%;
	}

  &__title {
    &--white {
      color: #ffffff;
    }
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.2em;
    text-align: center;
    color: #d6ab49;
    @include adaptive(1279) {
      font-size: 13px;
    }
    @include adaptive(767) {
      font-size: 12px;
    }
    @include adaptive(575) {
      font-size: 10px;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      padding-left: 15px;
      padding-right: 15px;
      background-color: rgba(#000, 0.7);
    }
  }

  &__btn {
    z-index: 5;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 185px;
      height: 75px;
      background-color: rgba(#000, 0.75);
      @include transition(background-color);
      @include adaptive(767) {
        height: 65px;
      }

      &:hover {
        background-color: rgba(#000, 1);
        @include transition(background-color);
      }

      span {
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.2em;
        text-align: center;
        color: #fff;
        @include adaptive(767) {
          font-size: 14px;
        }

        & + .icon-font {
          margin-top: 10px;
        }
      }

      .icon-font {
        transform: rotate(-90deg);
        font-size: 12px;
        color: #d6ab49;
        animation-fill-mode: both;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-name: animationArrow;
      }
    }
  }

	&__breadcrumbs {
		display: flex;
		align-items: center;
		justify-content: center;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(#000, 0.7);
    @include adaptive(767) {
      flex-wrap: wrap;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

		a,
		p {
			display: flex;
			padding-left: 2px;
			padding-right: 2px;
			text-transform: uppercase;
			letter-spacing: 0.2em;
      font-weight: bold;
			text-align: center;
		}

		a {
			color: #ffffff;
			@include transition(color);
      @include hoverLink(#CAAA51);

			&:hover {
				color: #CAAA51;
				@include transition(color);
			}

			&:nth-of-type(2n) {
				pointer-events: none;
			}
		}

		p {
			color: #CAAA51;
		}
	}
}

@keyframes animationArrow {
  from {
    transform: rotate(-90deg) translateX(0);
  }
  50% {
    transform: rotate(-90deg) translateX(5px);
  }
  to {
    transform: rotate(-90deg) translateX(0);
  }
}

// SECTION :: END
