// SECTION :: START

.patient-resources {
  padding-top: 180px;
  padding-bottom: 90px;
  @include adaptive(1535) {
    padding-top: 140px;
    padding-bottom: 70px;
  }
  @include adaptive(1279) {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  &__title {
    padding-bottom: 20px;
    text-align: center;
  }

  &__desc {
    width: 100%;
    max-width: 665px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 65px;
    text-align: center;
    @include adaptive(767) {
      padding-bottom: 50px;
    }
  }

  &__btn {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    @include adaptive(767) {
      flex-direction: column;
    }

    > div {
      display: flex;
      width: 100%;
      max-width: calc(100% / 3);
      @include adaptive(767) {
        justify-content: flex-start !important;
        max-width: 60%;

        &:not(:last-of-type) {
          padding-bottom: 25px;
        }
      }

      &:nth-of-type(2) {
        justify-content: center;
      }
      &:nth-of-type(3) {
        justify-content: flex-end;
      }
    }
  }
}

// SECTION :: END
