// SECTION :: START

.procedure-schedule {
  padding-top: 90px;
  padding-bottom: 180px;
  @include adaptive(1535) {
    padding-bottom: 140px;
  }
  @include adaptive(1279) {
    padding-bottom: 100px;
  }
  @include adaptive(767) {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  &__title {
    padding-bottom: 20px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 30px 50px;
    background-color: #000000;
    @include adaptive(1279) {
      padding: 25px 40px;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > div {
        width: 100%;
        max-width: calc((100% - 170px) / 3);
        @include adaptive(1279) {
          max-width: calc((100% - 100px) / 3);
        }
        @include adaptive(1023) {
          max-width: 100%;

          &:not(:last-of-type) {
            padding-bottom: 25px;
          }
        }
      }
    }

    &-title {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      color: #d6ab49;
      text-align: center;
    }

    &-desc {
      font-weight: 300;
      font-size: 18px;
      line-height: 38px;
      color: #ffffff;
      text-align: center;

      strong {
        font-weight: bold;
      }
    }
  }
}

// SECTION :: END
