// SECTION :: START

section#about.about

  .about__wrapper
    .about__wrapper-left

      img(src="img/img-about-1.jpg" srcset="img/img-about-1@2x.jpg 2x" alt="")

    .about__wrapper-right

      img(src="img/img-about-2.jpg" srcset="img/img-about-2@2x.jpg 2x" alt="")

// SECTION :: END
