// SECTION :: START

section#office.office

  .office__bg(svg-js)
    svg(xmlns='http://www.w3.org/2000/svg' width='1040.573' height='214.286' viewBox='0 0 1040.573 214.286')
      path#Path_15(data-name='Path 15' d='M-158.28,43.039A105.7,105.7,0,0,0-51.933,149.386c59.246,0,106.643-47.1,106.643-106.347A106.451,106.451,0,0,0-51.933-63.9C-111.179-63.9-158.28-16.207-158.28,43.039Zm29.623,0C-128.657.975-94-34.277-51.933-34.277c42.361,0,77.02,35.251,77.02,77.316,0,42.361-34.659,76.724-77.02,76.724A76.93,76.93,0,0,1-128.657,43.039ZM102.008,140.8a5.625,5.625,0,0,0,5.628,5.628h19.255a5.827,5.827,0,0,0,5.628-5.628V62.887h79.094a5.827,5.827,0,0,0,5.628-5.628V40.966a5.827,5.827,0,0,0-5.628-5.628H132.52V-33.092h93.609a5.625,5.625,0,0,0,5.628-5.628V-55.309a5.625,5.625,0,0,0-5.628-5.628H107.637a5.625,5.625,0,0,0-5.628,5.628Zm172.6,0a5.625,5.625,0,0,0,5.628,5.628H299.5a5.827,5.827,0,0,0,5.628-5.628V62.887h79.094a5.827,5.827,0,0,0,5.628-5.628V40.966a5.827,5.827,0,0,0-5.628-5.628H305.124V-33.092h93.609a5.625,5.625,0,0,0,5.628-5.628V-55.309a5.625,5.625,0,0,0-5.628-5.628H280.24a5.625,5.625,0,0,0-5.628,5.628Zm172.6,0a5.827,5.827,0,0,0,5.628,5.628H472.4a5.827,5.827,0,0,0,5.628-5.628v-196.1a5.827,5.827,0,0,0-5.628-5.628H452.844a5.827,5.827,0,0,0-5.628,5.628Zm78.106-97.756c0,59.246,47.693,106.347,106.939,106.347,26.365,0,51.84-9.183,71.984-28.734,2.074-2.074,2.666-5.925.3-8l-13.627-13.33c-1.777-1.481-4.443-1.777-7.109.3-14.219,10.961-29.327,19.551-50.952,19.551-42.361,0-74.65-35.251-74.65-76.724s31.993-77.02,74.354-77.02c18.366,0,37.325,7.7,51.248,19.847,2.666,2.666,5.332,2.666,7.406,0l13.034-13.33a5.505,5.505,0,0,0-.3-8.294C683.805-53.828,662.181-63.9,632.261-63.9A106.7,106.7,0,0,0,525.322,43.039ZM751.544,140.8a5.625,5.625,0,0,0,5.628,5.628H875.664a5.625,5.625,0,0,0,5.628-5.628V124.5a5.625,5.625,0,0,0-5.628-5.628H782.055V55.185h79.094a5.625,5.625,0,0,0,5.628-5.628V32.967a5.827,5.827,0,0,0-5.628-5.628H782.055V-33.092h93.609a5.625,5.625,0,0,0,5.628-5.628V-55.309a5.625,5.625,0,0,0-5.628-5.628H757.172a5.625,5.625,0,0,0-5.628,5.628Z' transform='translate(158.78 64.4)' fill='none' stroke='#caaa51' stroke-width='1')

  .office__wrapper
    .office__wrapper-left

      img(src="img/img-office-3.jpg" srcset="img/img-office-3@2x.jpg 2x" alt="" data-aos="fade-up")

    .office__wrapper-middle

      h2.office__title.c-title.c-title--center(data-aos="fade-up")!= "STATE-OF-THE-ART"
      p.office__desc.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      p.office__desc.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

    .office__wrapper-right

      img(src="img/img-office-4.jpg" srcset="img/img-office-4@2x.jpg 2x" alt="" data-aos="fade-up")

// SECTION :: END
