-
  const project = 'Dr. Lao';
  const pages = [{
      name: 'Homepage',
      href: 'index.html',
      progress: '100'
    }, {
      name: 'About',
      href: 'about.html',
      progress: '100'
    }, {
      name: 'Meet',
      href: 'meet.html',
      progress: '100'
    }, {
      name: 'Procedures',
      href: 'procedures.html',
      progress: '100'
    }, {
      name: 'Facelift',
      href: 'facelift.html',
      progress: '100'
    }, {
      name: 'Liposuction',
      href: 'liposuction.html',
      progress: '100'
    }, {
      name: 'Medspa',
      href: 'medspa.html',
      progress: '100'
    }, {
      name: 'Gallery',
      href: 'gallery.html',
      progress: '100'
    }, {
      name: 'Patient Resources',
      href: 'patient-resources.html',
      progress: '100'
    },  {
      name: 'Contact',
      href: 'contact.html',
      progress: '100'
    }, {
      name: 'Landing',
      href: 'landing.html',
      progress: '1'
    }
  ];
