// SECTION :: START

section#explore.explore

  .explore__container.explore__container-1

    .explore__text.explore__text-1
      svg(xmlns='http://www.w3.org/2000/svg' width='955' height='289' viewBox='0 0 955 289')
        path(d='M-468.4-7.6A7.6,7.6,0,0,0-460.8,0h26a7.868,7.868,0,0,0,7.6-7.6V-112.8h106.8a7.868,7.868,0,0,0,7.6-7.6v-22a7.868,7.868,0,0,0-7.6-7.6H-427.2v-92.4h126.4a7.6,7.6,0,0,0,7.6-7.6v-22.4a7.6,7.6,0,0,0-7.6-7.6h-160a7.6,7.6,0,0,0-7.6,7.6ZM-275.333,0h25.2a10.054,10.054,0,0,0,9.2-6c8-18.4,16.4-36.4,24.4-54.8h130.8L-60.933-6a9.319,9.319,0,0,0,9.2,6h25.2c6,0,9.2-5.2,6.8-10.4l-122-269.2a9.358,9.358,0,0,0-6.8-4.4h-4a9.358,9.358,0,0,0-6.8,4.4l-122.8,269.2C-284.533-5.2-281.333,0-275.333,0Zm74.4-95.2,48.8-109.6h2l49.2,109.6ZM4.933-139.6c0,80,64.4,143.6,144.4,143.6,35.6,0,70-12.4,97.2-38.8,2.8-2.8,3.6-8,.4-10.8l-18.4-18c-2.4-2-6-2.4-9.6.4-19.2,14.8-39.6,26.4-68.8,26.4-57.2,0-100.8-47.6-100.8-103.6s43.2-104,100.4-104c24.8,0,50.4,10.4,69.2,26.8,3.6,3.6,7.2,3.6,10,0l17.6-18a7.434,7.434,0,0,0-.4-11.2c-27.2-23.6-56.4-37.2-96.8-37.2A144.081,144.081,0,0,0,4.933-139.6ZM310.4-7.6A7.6,7.6,0,0,0,318,0H478a7.6,7.6,0,0,0,7.6-7.6v-22a7.6,7.6,0,0,0-7.6-7.6H351.6v-86H458.4a7.6,7.6,0,0,0,7.6-7.6v-22.4a7.868,7.868,0,0,0-7.6-7.6H351.6v-81.6H478a7.6,7.6,0,0,0,7.6-7.6v-22.4A7.6,7.6,0,0,0,478-280H318a7.6,7.6,0,0,0-7.6,7.6Z' transform='translate(468.9 284.5)' fill='none' stroke='#caaa51' stroke-width='1')

    .c-grid
      .explore__wrapper.explore__wrapper-1
        div

          h2.explore__title.c-title FEEL THE DIFFERENCE
          p.explore__desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          .explore__btn.c-btn__wrapper
            a.c-btn(href="#")
              span EXPLORE FACE PROCEDURES

          nav.explore__nav.explore__nav-1
            a(href="#") RHINOPLASTY
            a(href="#") EYELID SURGERY
            a(href="#") FACELIFT

    .explore__bg.explore__bg-1
      img(src="img/img-explore-1.jpg" srcset="img/img-explore-1@2x.jpg 2x" alt="")

  .explore__container.explore__container-2

    .explore__text.explore__text-2
      svg(xmlns='http://www.w3.org/2000/svg' width='1417.133' height='289' viewBox='0 0 1417.133 289')
        path(d='M-690.867-7.6a7.6,7.6,0,0,0,7.6,7.6h94c50.4,0,87.2-32.4,87.2-77.2,0-36.8-28.8-56.4-50-65.2,18.8-10.8,41.6-32.8,41.6-63.6,0-42-34.8-74-83.2-74h-89.6a7.6,7.6,0,0,0-7.6,7.6Zm40.8-150.8v-84h54c25.6,0,41.2,16.8,41.2,41.2,0,24-15.6,42.8-41.2,42.8Zm-.4,121.6v-85.6h54.8c26,0,49.2,17.6,49.2,42,0,24.8-18.8,43.6-43.2,43.6ZM-435.4-7.6A7.6,7.6,0,0,0-427.8,0h26a7.868,7.868,0,0,0,7.6-7.6v-102h60.4l53.2,106A7.364,7.364,0,0,0-274.2,0H-243c6.8,0,9.6-6.4,6.8-11.6L-291-113.2c34.8-14,59.2-44.4,59.2-81.2C-231.8-242-271-280-319-280H-427.8a7.6,7.6,0,0,0-7.6,7.6Zm42-136.4v-97.2h71.2c26,0,48.8,21.6,48.8,47.6,0,27.6-22.8,49.6-48.8,49.6ZM-162.733-7.6a7.6,7.6,0,0,0,7.6,7.6h160a7.6,7.6,0,0,0,7.6-7.6v-22a7.6,7.6,0,0,0-7.6-7.6h-126.4v-86h106.8a7.6,7.6,0,0,0,7.6-7.6v-22.4a7.868,7.868,0,0,0-7.6-7.6h-106.8v-81.6H4.867a7.6,7.6,0,0,0,7.6-7.6v-22.4a7.6,7.6,0,0,0-7.6-7.6h-160a7.6,7.6,0,0,0-7.6,7.6ZM48.733,0h25.2a10.054,10.054,0,0,0,9.2-6c8-18.4,16.4-36.4,24.4-54.8h130.8L263.133-6a9.319,9.319,0,0,0,9.2,6h25.2c6,0,9.2-5.2,6.8-10.4l-122-269.2a9.358,9.358,0,0,0-6.8-4.4h-4a9.358,9.358,0,0,0-6.8,4.4L41.933-10.4C39.533-5.2,42.733,0,48.733,0Zm74.4-95.2,48.8-109.6h2l49.2,109.6ZM335.4-27.6c6.4,6,37.2,31.6,86,31.6,52,0,89.2-34,89.2-75.6,0-48.8-39.6-70.8-86-89.6-33.2-13.6-50.8-27.6-50.8-50.4,0-14.8,11.6-36,45.2-36,23.2,0,51.2,18.4,54,20,5.6,3.6,10.8,1.2,14-4,3.2-4.8,6.8-10.4,10-15.2a9.5,9.5,0,0,0-2.4-13.6c-4-2.8-34-23.6-74-23.6C357-284,333-241.2,333-210c0,46.4,32,67.6,72.8,84.8,39.6,16.4,60.4,31.6,60.4,55.6,0,20.4-17.6,37.2-45.2,37.2-30.8,0-61.6-25.6-64-27.6-4.4-3.6-10-2-13.6,3.2S336.6-45.6,333-40.4C329-33.6,331.8-30.8,335.4-27.6Zm275.467,20a7.868,7.868,0,0,0,7.6,7.6h26.4a7.868,7.868,0,0,0,7.6-7.6V-242.4h65.2a7.6,7.6,0,0,0,7.6-7.6v-22.4a7.6,7.6,0,0,0-7.6-7.6h-172a7.6,7.6,0,0,0-7.6,7.6V-250a7.6,7.6,0,0,0,7.6,7.6h65.2Z' transform='translate(691.367 284.5)' fill='none' stroke='#caaa51' stroke-width='1')

    .c-grid
      .explore__wrapper.explore__wrapper-2
        div

          h2.explore__title.c-title YOUR PATH TO HAPPINESS
          p.explore__desc.c-desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          .explore__btn.c-btn__wrapper
            a.c-btn(href="#")
              span EXPLORE FACE PROCEDURES

          nav.explore__nav.explore__nav-2
            a(href="#") BREAST AUGMENTATION
            a(href="#") BREAST LIFT
            a(href="#") BREAST REDUCTION

    .explore__bg.explore__bg-2
      img(src="img/img-explore-2.jpg" srcset="img/img-explore-2@2x.jpg 2x" alt="")

  .explore__container.explore__container-3

    .explore__bg.explore__bg-3
      img(src="img/img-explore-3.jpg" srcset="img/img-explore-3@2x.jpg 2x" alt="")

    .explore__text.explore__text-3
      svg(xmlns='http://www.w3.org/2000/svg' width='1078.728' height='289' viewBox='0 0 1078.728 289')
        path(d='M38.8-7.6A7.6,7.6,0,0,0,46.4,0h94c50.4,0,87.2-32.4,87.2-77.2,0-36.8-28.8-56.4-50-65.2,18.8-10.8,41.6-32.8,41.6-63.6,0-42-34.8-74-83.2-74H46.4a7.6,7.6,0,0,0-7.6,7.6ZM79.6-158.4v-84h54c25.6,0,41.2,16.8,41.2,41.2,0,24-15.6,42.8-41.2,42.8ZM79.2-36.8v-85.6H134c26,0,49.2,17.6,49.2,42,0,24.8-18.8,43.6-43.2,43.6ZM273.867-139.6c0,80,63.6,143.6,143.6,143.6s144-63.6,144-143.6a143.741,143.741,0,0,0-144-144.4C337.467-284,273.867-219.6,273.867-139.6Zm40,0c0-56.8,46.8-104.4,103.6-104.4,57.2,0,104,47.6,104,104.4,0,57.2-46.8,103.6-104,103.6C360.667-36,313.867-82.4,313.867-139.6ZM625.333-7.6a7.52,7.52,0,0,0,7.2,7.6h92c77.2,0,140.4-62.8,140.4-140.4,0-76.8-63.2-139.6-140.4-139.6h-92a7.52,7.52,0,0,0-7.2,7.6Zm40.8-30.4V-242h52.8c58.8,0,101.6,42.8,101.6,101.6,0,59.2-42.8,102.4-101.6,102.4ZM978.8-7.6A7.6,7.6,0,0,0,986.4,0h26.4a7.868,7.868,0,0,0,7.6-7.6V-135.2l94.8-133.2c3.2-5.2,0-11.6-6.4-11.6h-30c-2.8,0-5.2,2-6.4,3.6l-72.4,102-72.4-102a7.949,7.949,0,0,0-6.4-3.6H891.6c-6.4,0-9.6,6.4-6.4,11.6l93.6,133.6Z' transform='translate(-38.3 284.5)' fill='none' stroke='#caaa51' stroke-width='1')

    .c-grid
      .explore__wrapper.explore__wrapper-3
        div

          h2.explore__title.c-title.c-title--gold.c-title--center FEEL YOUR BEST SELF
          p.explore__desc.c-desc.c-desc--white Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          .explore__btn.c-btn__wrapper.c-btn__wrapper--center
            a.c-btn.c-btn--white(href="#")
              span EXPLORE FACE PROCEDURES

        nav.explore__nav.explore__nav-3
          a(href="#") LIPOSUCTION
          a(href="#") TUMMY TUCK
          a(href="#") FAT GRAFTING

// SECTION :: END
