// SECTION :: START

section#medical.medical.medical--homepage

  .medical__bg
    .c-grid(svg-js)
      svg(xmlns='http://www.w3.org/2000/svg' width='968.086' height='304.28' viewBox='0 0 968.086 304.28')
        path(d='M19.3-3.781A3.914,3.914,0,0,0,23.084,0H35.621A3.778,3.778,0,0,0,39.4-3.781v-96.913h.2L125.967,1.99h5.174a3.741,3.741,0,0,0,3.781-3.582V-135.519a3.914,3.914,0,0,0-3.781-3.781H118.405a3.778,3.778,0,0,0-3.781,3.781v94.127h-.2l-86.366-99.9H23.084a3.741,3.741,0,0,0-3.781,3.582ZM166.7-69.451A71,71,0,0,0,238.137,1.99a71.174,71.174,0,0,0,71.64-71.441,71.511,71.511,0,0,0-71.64-71.839A71.343,71.343,0,0,0,166.7-69.451Zm19.9,0c0-28.258,23.283-51.939,51.541-51.939,28.457,0,51.74,23.681,51.74,51.939a51.722,51.722,0,0,1-51.74,51.541A51.68,51.68,0,0,1,186.6-69.451ZM341.55-3.781A3.914,3.914,0,0,0,345.331,0h12.537a3.778,3.778,0,0,0,3.781-3.781v-96.913h.2L448.214,1.99h5.174a3.741,3.741,0,0,0,3.781-3.582V-135.519a3.914,3.914,0,0,0-3.781-3.781H440.652a3.778,3.778,0,0,0-3.781,3.781v94.127h-.2l-86.366-99.9h-4.975a3.741,3.741,0,0,0-3.781,3.582ZM11.542,146.269c3.184,2.985,18.507,15.721,42.785,15.721,25.87,0,44.377-16.915,44.377-37.611C98.7,100.1,79,89.156,55.919,79.8,39.4,73.037,30.646,66.072,30.646,54.729c0-7.363,5.771-17.91,22.487-17.91,11.542,0,25.472,9.154,26.865,9.95,2.786,1.791,5.373.6,6.965-1.99,1.592-2.388,3.383-5.174,4.975-7.562a4.729,4.729,0,0,0-1.194-6.766C88.754,29.058,73.829,18.71,53.929,18.71,22.288,18.71,10.348,40,10.348,55.525c0,23.084,15.92,33.631,36.218,42.188,19.7,8.159,30.049,15.721,30.049,27.661,0,10.149-8.756,18.507-22.487,18.507-15.323,0-30.646-12.736-31.84-13.731-2.189-1.791-4.975-.995-6.766,1.592s-3.383,5.572-5.174,8.159C8.358,143.284,9.751,144.677,11.542,146.269Zm116.15-38.208c0,30.248,22.686,53.929,53.929,53.929,31.442,0,54.327-23.681,54.327-53.929V24.481a3.914,3.914,0,0,0-3.781-3.781H218.834a3.778,3.778,0,0,0-3.781,3.781v82.585c0,19.7-12.935,35.024-33.432,35.024-20.3,0-33.034-15.522-33.034-35.422V24.481a3.778,3.778,0,0,0-3.781-3.781H131.473a3.914,3.914,0,0,0-3.781,3.781Zm148.388,48.158A3.778,3.778,0,0,0,279.86,160H292.8a3.914,3.914,0,0,0,3.781-3.781V105.474h30.049l26.467,52.735A3.664,3.664,0,0,0,356.276,160H371.8c3.383,0,4.776-3.184,3.383-5.771l-27.263-50.546c17.313-6.965,29.452-22.089,29.452-40.4,0-23.681-19.5-42.586-43.382-42.586H279.86a3.778,3.778,0,0,0-3.781,3.781ZM296.974,88.36V40H332.4c12.935,0,24.278,10.746,24.278,23.681,0,13.731-11.343,24.676-24.278,24.676Zm104.608,2.189a71.3,71.3,0,0,0,71.64,71.441c28.855,0,49.352-13.134,49.352-13.134a4.913,4.913,0,0,0,1.592-3.184c0-15.92-.2-32.238-.2-48.158a3.741,3.741,0,0,0-3.582-3.781H484.167a3.659,3.659,0,0,0-3.781,3.781v11.542a3.616,3.616,0,0,0,3.781,3.582h19.5v22.288a70.048,70.048,0,0,1-29.85,6.766c-28.258,0-49.949-23.88-49.949-51.541,0-27.86,21.691-51.74,49.949-51.74,12.139,0,24.477,5.373,33.83,13.532,1.99,1.791,3.582,1.99,5.174.2,2.985-3.184,5.97-6.169,8.955-9.353a3.853,3.853,0,0,0-.2-5.572C508.047,25.675,492.326,18.71,473.222,18.71A71.638,71.638,0,0,0,401.582,90.549Zm157.144,65.67A3.914,3.914,0,0,0,562.507,160h13.134a3.914,3.914,0,0,0,3.781-3.781V24.481a3.914,3.914,0,0,0-3.781-3.781H562.507a3.914,3.914,0,0,0-3.781,3.781Zm52.47-65.67a71.343,71.343,0,0,0,71.839,71.441,68.3,68.3,0,0,0,48.357-19.3c1.393-1.393,1.791-3.98.2-5.373l-9.154-8.955a3.639,3.639,0,0,0-4.776.2c-9.552,7.363-19.7,13.134-34.228,13.134-28.457,0-50.148-23.681-50.148-51.541s21.492-51.74,49.949-51.74c12.338,0,25.074,5.174,34.427,13.333,1.791,1.791,3.582,1.791,4.975,0l8.756-8.955a3.7,3.7,0,0,0-.2-5.572C717.66,25.476,703.133,18.71,683.034,18.71A71.68,71.68,0,0,0,611.2,90.549ZM747.842,160h12.537a5,5,0,0,0,4.577-2.985c3.98-9.154,8.159-18.109,12.139-27.263h65.073l12.338,27.263A4.636,4.636,0,0,0,859.083,160H871.62A3.514,3.514,0,0,0,875,154.826L814.308,20.9a4.656,4.656,0,0,0-3.383-2.189h-1.99a4.656,4.656,0,0,0-3.383,2.189L744.459,154.826A3.514,3.514,0,0,0,747.842,160Zm37.014-47.362,24.278-54.526h.995l24.477,54.526ZM898.22,156.219A3.778,3.778,0,0,0,902,160h70.844a3.778,3.778,0,0,0,3.781-3.781V145.274a3.778,3.778,0,0,0-3.781-3.781H918.916V24.481a3.914,3.914,0,0,0-3.781-3.781H902a3.778,3.778,0,0,0-3.781,3.781Z' transform='translate(-9.039 141.79)' fill='none' stroke='#caaa51' stroke-width='1')

  .c-grid
    .medical__wrapper
      div

        h2.medical__title.c-title(data-aos="fade-up") NON INVASIVE PROCEDURES
        p.medical__desc.c-desc(data-aos="fade-up") Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.

        .medical__btn.c-btn__wrapper(data-aos="fade-up")
          a.c-btn(href="#")
            span EXPLORE NON-SURGICAL PROCEDURES

  .medical__carousel

    .swiper(data-aos="fade-up")
      .swiper-wrapper
        .swiper-slide
          img(src="img/img-medical-5.jpg" srcset='img/img-medical-5@2x.jpg 2x' alt="")
          .c-btn__wrapper
            a.c-btn.c-btn--white(href="#")
              span ANTI-AGING
        .swiper-slide
          img(src="img/img-medical-6.jpg" srcset='img/img-medical-6@2x.jpg 2x' alt="")
          .c-btn__wrapper
            a.c-btn.c-btn--white(href="#")
              span CLEAR + BRILLIANT
        .swiper-slide
          img(src="img/img-medical-7.jpg" srcset='img/img-medical-7@2x.jpg 2x' alt="")
          .c-btn__wrapper
            a.c-btn.c-btn--white(href="#")
              span THERMAGE
        .swiper-slide
          img(src="img/img-medical-8.jpg" srcset='img/img-medical-8@2x.jpg 2x' alt="")
          .c-btn__wrapper
            a.c-btn.c-btn--white(href="#")
              span EMSCULPT Neo

    .swiper-pagination(data-aos="fade-up")

    .medical__carousel-btn-wrapper(data-aos="fade-up")
      a.medical__carousel-btn.medical__carousel-btn--prev(href="#")
        i.icon-font.icon-arrow-left
      a.medical__carousel-btn.medical__carousel-btn--next(href="#")
        i.icon-font.icon-arrow-left

// SECTION :: END
