// SECTION :: START

section#contact.contact
  .c-grid
    .contact__wrapper.contact__wrapper-1

      h2.contact__title.c-title.c-title--center(data-aos="fade-up") HOW CAN WE HELP YOU?
      p.contact__desc.c-desc(data-aos="fade-up") Our friendly, highly-trained staff will take care of your scheduling needs and put you in touch with our staff for a consultation that could change your life. Contact us today to schedule your consultation. We offer in-person and virtual appointments to better accommodate your needs. You can also call us at 929-505-2060 to schedule an appointment.

      form.contact__form(action='' method='' autocomplete='off')
        .contact__form-group(data-aos="fade-up")
          div
            .contact__form-field
              label
                input(type='text' placeholder='Full Name*')
          div
            .contact__form-field
              label
                input(type='tel' placeholder='Phone*')
        .contact__form-group(data-aos="fade-up")
          div
            .contact__form-field
              label
                input(type='email' placeholder='Email Address*')
          div
            .contact__form-field
              label
                select
                  option Procedure of Interest
                  option Procedure of Interest
        .contact__form-group(data-aos="fade-up")
          div
            .contact__form-field
              label
                select
                  option How did you hear about us?
                  option How did you hear about us?
          div
            .contact__form-field
              label
                select
                  option Best time to reach you
                  option Best time to reach you
        .contact__form-field(data-aos="fade-up")
          label
            textarea(placeholder='How can we help you?')
        .contact__form-field.contact__form-field--btn
          .c-btn__wrapper.c-btn__wrapper--center
            button.c-btn(type='submit')
              span SEND A MESSAGE

  .contact__wrapper.contact__wrapper-2

    .contact__address
      .contact__address-col
        img(src="img/img-contact-address-1.jpg" srcset='img/img-contact-address-1@2x.jpg 2x' alt="" data-aos="fade-up")
      .contact__address-col
        img(src="img/img-contact-address-2.jpg" srcset='img/img-contact-address-2@2x.jpg 2x' alt="" data-aos="fade-up")

      .contact__address-block(data-aos="fade-up")
        h3.c-title.c-title--medium.c-title--gold NEW YORK
        div
          a(href="tel:929-505-2060") 929-505-2060
          p!= "535 FIFTH AVENUE, 32ND FLOOR, <br>NEW YORK, NY, 10017, USA"
        div
          .c-btn__wrapper
            a.c-btn.c-btn--white(href="#")
              span GET DIRECTIONS
// SECTION :: END
